{% extends "base.html" %}


{% block content %}
<style>
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
        }
</style>

<dir id="map"></dir>

<script type="text/javascript">
    var link = document.getElementById('contact')
    link.className += ' active'

    function initMap() {
        var jsm = {lat: 1.3104377, lng: 103.879838}
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: jsm
        });
        var marker = new google.maps.Marker({
            position: jsm,
            map: map
        });
    } 
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoyLhM9Zwac22E80p9cFL8BDNMGituNTg&callback=initMap"></script>
{% endblock  %} 