{% extends "base.html" %}


{% block content %}
<main role="main" class="inner cover">
    <h1 class="cover-heading">Jesus Saves Mission</h1>
    <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
    <em>
        <p class="lead">"as the Son of Man did not come to be served, but to serve, and to give His life a ransom for many."</p>
        <hr>
        <p class="lead text-right" al>Matthew 20:28</p>
    </em>
    <p class="lead">
    <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
    </p>
</main>

<script type="text/javascript">
    var link = document.getElementById('home')
    link.className += ' active'
</script>
{% endblock  %}