{% extends "base.html" %}


{% block content %}

<div class="table-responsive">
    <table class="table">
        <!-- <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            </tr>
        </thead> -->
        <tbody>
            <tr>
                <th scope="row" rowspan="2">Sunday</th>
                <td>English Worship Service</td>
                <td>9:00AM - 11:00AM</td>
            </tr>
            <tr>
                <td>Chinese Worship Service</td>
                <td>2:00PM - 4:00PM</td>
            </tr>
            <tr>
                <th scope="row">Tuesday</th>
                <td>Chinese Prayer Meeting	</td>
                <td>7:00PM - 9:00PM</td>
            </tr>
            <tr>
                <th scope="row">Wednesday</th>
                <td>English Prayer Meeting</td>
                <td>7:00PM - 9:00PM</td>
            </tr>
            <tr>
                <th scope="row">Friday</th>
                <td>Overnight Prayer Meeting</td>
                <td>10:00PM - 2:00AM</td>
            </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    var link = document.getElementById('service')
    link.className += ' active'
</script>
{% endblock  %}